nav {
    display: flex;
    justify-content: center;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 8px -4px black;
    width: 50%;
    margin: 2rem auto;
    border-radius: 100px;
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 1em 2em;
    position: fixed;
}

.nav-logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;    
}

.nav-logo > li > a {
    font-family: 'Fascinate', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    font-size: 1rem;
    font-weight: bold;
}

.nav-cart-link > a {
    display: flex;
    gap: 0.25rem;
}

.nav-cart-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: var(--primary);
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
}

