.shop-page {
    padding: 0 8rem;
    margin-top: 8.125rem;
}

.shop-page-heading {
    margin-bottom: 2rem;
}

.shop-page-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-loading {
    width: 100%;
    display: flex;
    justify-content: center;
}